.navbar {
  margin-bottom: 0;
}
.region-hero {
  position: relative;
  margin-top: -15px;
  padding: 0;
  width: 100%;
  height: 400px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;
  .page-header {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 14em;
    bottom: 3em;
    color: #ffffff;
    text-decoration: none;
    border: none;
    text-shadow: 1px 1px 1px #999999;
  }
}
@media only screen and (min-width: @screen-lg) {
  .region-hero {
    height: 700px;
    background-position: 50%;
    .page-header {
      right: 10em;
    }
  }
}
#overlay-logo {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2;
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Safari */
  transform: rotate(15deg);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
@media only screen and (min-width: @screen-md) and (max-width: @screen-lg-min) {
  .region-hero {
    height: 700px;
    background-position: 50%;
  }
  #overlay-logo {
    top: 2%;
    right: 2%;
    width: 240px;
    height: auto;
  }
}
@media only screen and (min-width: @screen-sm) and (max-width: @screen-md-min) {
  #overlay-logo {
    top: 8px;
    right: 8px;
    width: 200px;
    height: auto;
  }
  .region-hero {
    height: 500px;
    background-position: 50% 60%;
  }
}
@media only screen and (max-width: @screen-xs) {
  #overlay-logo {
    top: 4px;
    right: 4px;
    width: 100px;
    height: auto;
  }
  .region-hero {
    height: 180px;
    background-position: 50% 20%;
    background-size: cover;
  }
}
@media only screen and (max-width: @screen-xxs) {
  #overlay-logo {
    top: 3px;
    right: 3px;
    width: 90px;
    height: auto;
  }
  .region-hero {
    height: 180px;
    background-position: 50% 20%;
    background-size: cover;
  }
}