.iosslider {
  /* required */
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;

  width: 100%;
  height: 900px;
  /* slider */
  .slider {
    /* required */
    width: 100%;
    height: 100%;
    /* slide */
    .slide {
      /* required */
      float: left;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

}
.path-frontpage {
  h1.js-quickedit-page-title.page-header {
    display: none;
  }
}